*******************************JUAN CARLOS PAULINO FONSECA GOMEZ*************************************

# Populating the tables 
Establishing a connection and creating a cursor

In [7]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\minero_whitexpg\appdata\local\programs\python\python311\lib\site-packages (8.0.32)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\minero_whitexpg\appdata\local\programs\python\python311\lib\site-packages (from mysql-connector-python) (3.20.3)

In [35]:
import mysql.connector as connector

#establishing a connection and the cursor

In [58]:
connection=connector.connect(
    host="127.0.0.1",
    port="3306",
    user="root",
    password="Armin12B",
    database="capstone"
)

cursor=connection.cursor()

db_Info = connection.get_server_info()
print("Connected to MySQL Server version ", db_Info)

Connected to MySQL Server version  8.0.31

#customer table

In [37]:
customer_data = [
    (1, 'John Doe', '1234567', 'john.doe@example.com'),
    (2, 'Jane Smith', '3478901', 'jane.smith@example.com'),
    (3, 'David Lee', '3478901', 'david.lee@example.com'),
    (4, 'Sarah Chen', '4567023', 'sarah.chen@example.com'),
    (5, 'Michael Kim', '5890134', 'michael.kim@example.com'),
    (6, 'Emily Brown', '6789035', 'emily.brown@example.com'),
    (7, 'Daniel Kim', '7890356',  'daniel.kim@example.com'),
    (8, 'Ava Lee', '8901267', 'ava.lee@example.com'),
    (9, 'Oliver Chen', '9012378', 'oliver.chen@example.com'),
    (10, 'Sophia Park', '0145789', 'sophia.park@example.com')
]

In [38]:
customer_query = """
    INSERT INTO customer (idCustomer, CustomerName, CustomerPhone, CustomerEmail) 
    VALUES (%s, %s, %s, %s)
    """
cursor.executemany(customer_query, customer_data)
connection.commit()
print("Values inserted into Customer table")

Values inserted into Customer table

#booking table

In [49]:
booking_data = [
    (1, 2, '2023-03-15', 1),
    (2, 4, '2023-03-16', 2),
    (3, 1, '2023-03-18', 3),
    (4, 3, '2023-03-20', 4),
    (5, 2, '2023-03-22', 5),
    (6, 4, '2023-03-23', 6),
    (7, 1, '2023-03-25', 7),
    (8, 3, '2023-03-27', 8),
    (9, 2, '2023-03-29', 9),
    (10, 4, '2023-03-30', 10)
]

In [50]:
booking_query = """
    INSERT INTO bookings (idBookings, BookingsTable, BookingsDate, Customer_idCustomer) 
    VALUES (%s, %s, %s, %s)
    """
cursor.executemany(booking_query, booking_data)
connection.commit()
print("Inserted into booking table")

Inserted into booking table

#menuitems table

In [59]:
menuitem_data = [
    (1, 'Prawn cocktail', 'Main', 'Chocolate cake', 'Coca-cola'),
    (2, 'Tomato soup', 'Main', 'Fruit salad', 'Sprite'),
    (3, 'Chicken curry', 'Main', 'Cheesecake', 'Pepsi'),
    (4, 'Beef stew', 'Main', 'Apple pie', 'Lemonade'),
    (5, 'Fish and chips', 'Main', 'Ice cream', 'Fanta'),
    (6, 'Garlic bread', 'Starter', 'Soup of the day', 'Melon'),
    (7, 'Bruschetta', 'Starter', 'Prawn cocktail', 'Soup of the day'),
    (8, 'Mushroom soup', 'Starter', 'Garlic bread', 'Melon'),
    (9, 'Prawn cocktail', 'Starter', 'Bruschetta', 'Soup of the day'),
    (10, 'Soup of the day', 'Starter', 'Mushroom soup', 'Garlic bread')
]

In [60]:
menuitem_query = """
    INSERT INTO menuitems (idMenuItems, MenuItemsStarter, MenuItemsCourse, MenuItemsDessert, MenuItemsDrinks) 
    VALUES (%s, %s, %s, %s, %s)
    """
cursor.executemany(menuitem_query, menuitem_data)
connection.commit()
print("Inserted into menuitems table")

Inserted into menuitems table

#menu table

In [62]:
menu_data = [
  (1, 'Italian', 1),
  (2, 'Italian', 2),
  (3, 'Indian', 3),
  (4, 'British', 4),
  (5, 'British', 5),
  (6, 'Italian', 6),
  (7, 'Italian', 7),
  (8, 'Indian', 8),
  (9, 'Indian', 9),
  (10, 'British', 10)
]

In [63]:
menu_query = """
    INSERT INTO menu (idMenu, MenuCuisine, MenuItems_idMenuItems) 
    VALUES (%s, %s, %s)
    """
cursor.executemany(menu_query, menu_data)
connection.commit()
print("Inserted into menu table")

Inserted into menu table

#staff table

In [68]:
staff_data = [
  (1, 'John Doe', 'Manager', 50000),
  (2, 'Jane Smith', 'Chef', 40000),
  (3, 'Bob Johnson', 'Waiter', 30000),
  (4, 'Amy Lee', 'Waiter', 35000),
  (5, 'David Brown', 'Chef', 40000),
  (6, 'Sarah Jones', 'Waiter', 25000),
  (7, 'Mike Davis', 'Waiter', 28000),
  (8, 'Karen Wilson', 'Bartender', 32000)
]

In [69]:
staff_query = """
    INSERT INTO staff (idStaff, StaffName, StaffRole, StaffSalary) 
    VALUES (%s, %s, %s, %s)
    """
cursor.executemany(staff_query, staff_data)
connection.commit()
print("Inserted into staff table")

Inserted into staff table

#order table *******the word ORDER it's a reserved keyword on MySQL**********

In [74]:
order_data = [
  (1, '2022-02-14', 2, 50, 1, 1, 1),
  (2, '2022-02-14', 4, 100, 2, 2, 2),
  (3, '2022-02-15', 3, 75, 3, 3, 3),
  (4, '2022-02-16', 2, 50, 4, 4, 4)
]

In [76]:
order_query = """
    INSERT INTO `order` (idOrder, OrderDate, OrderQty, TotalCost, Bookings_idBookings, Menu_idMenu, Customer_idCustomer) 
    VALUES (%s, %s, %s, %s, %s, %s, %s)
    """
cursor.executemany(order_query, order_data)
connection.commit()
print("Inserted into order table")

Inserted into order table

#orderdelivery table

In [78]:
orderdelivery_data = [
    (1, '2023-03-15', 'Delivered', 1, 1),
    (2, '2023-03-17', 'In Transit', 2, 2),
    (3, '2023-03-20', 'Out for Delivery', 3, 3),
    (4, '2023-03-22', 'Pending', 4, 4)
]

In [79]:
orderdelivery_query = """
    INSERT INTO orderdelivery (idOrderDelivery, DeliveryDate, DeliveryStatus, Order_idOrder, Staff_idStaff)
    VALUES (%s, %s, %s, %s, %s)
    """
cursor.executemany(orderdelivery_query, orderdelivery_data)
connection.commit()
print("Inserted into orderdelivery table")

Inserted into orderdelivery table

In [80]:
cursor.close()
connection.close()
print("Commiting and closing both connection and cursor.")

Commiting and closing both connection and cursor.